
input{
	width:50%;
	height:10%;
	font-size:50px;
}

button{
	width:40%;
	height:10%;
	font-size:40px;
}

body{
	font-size:25px;
	margin-left:50px;
	margin-right:100px;
	text-align:center;
	background-image:url(page.jpg);
	background-repeat:no-repeat;
	width:90%;
	background-size:100%;
	word-wrap: break-word;
}

header{
	border:2px solid black;
	font-size:40px;
	background-color:rgb(100,100,100);
	margin-left:0px;
	margin-right:0px;
}
